<div class="mat-elevation-z8" style="display: inline-block;min-width:100%;">
  <div class="toolbar">
    <div class="toolbar-left">
      <div *ngIf="searching" class="searchDiv">
        <mat-form-field class="input searchBar">
            <mat-icon matPrefix>search</mat-icon>
            <input [(ngModel)]="optionsLocal.searchText" 
            (keyup)="dataLocal.filter = $event.target.value" matInput type="text" list="searchList">
            <datalist id="searchList">
              <option value="Boston"></option>
            </datalist>
        </mat-form-field>
        <button mat-button mat-icon-button (click)="searching=false;dataLocal.filter='';optionsLocal.searchText=''" class="cancelSearch">
          <mat-icon>close</mat-icon>
        </button>

      </div>
      <div *ngIf="!searching">
        <h6>{{title}}</h6>
      </div>
    </div>
    <div class="toolbar-right">
      <button matTooltip="{{optionsLocal.textLabels.toolbar.search}}" aria-label="Search" mat-button mat-icon-button
        (click)="searching=true">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="optionsLocal.download" matTooltip="{{optionsLocal.textLabels.toolbar.downloadCsv}}" aria-label="Download Csv" mat-button
        mat-icon-button (click)="downloadCSV()">
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button *ngIf="optionsLocal.print" matTooltip="{{optionsLocal.textLabels.toolbar.print}}" aria-label="Print" mat-button
        (click)="print()" mat-icon-button>
        <mat-icon>print</mat-icon>
      </button>
      <button *ngIf="optionsLocal.viewColumns" matTooltip="{{optionsLocal.textLabels.toolbar.viewColumns}}" aria-label="View Columns" mat-button
        mat-icon-button (click)="openColumns()">
        <mat-icon>view_column</mat-icon>
      </button>
      <button *ngIf="optionsLocal.filter" matTooltip="{{optionsLocal.textLabels.toolbar.filterTable}}" aria-label="Filter Table" mat-button
        mat-icon-button (click)="openFilter()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>

  </div>
  <table mat-table [dataSource]="dataLocal" matSort matSortActive="optionsLocal.sort" (matSortChange)="optionsLocal.onSearchChange()">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- other Columns -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear [disabled]="!column.options.sort"> {{column.label}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
    </ng-container>

    <!-- No data row -->
    <ng-container matColumnDef="noData">
      <td mat-footer-cell *matFooterCellDef colspan="999">
        <h6>Sorry, no matching records found</h6>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="dataLocal.filteredData.length?[]:['noData']"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>